@model TodoViewModel

@{
    Layout = "_Layout";
}

<div class="card card-outline-primary m-1 p-1 marg-no-border">
    <div class="bg-faded p-1 d-flex justify-content-center">
        <form asp-controller="TodoLists" asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="marg border-grey shadow padd">
                <div class="form-group">
                    <label asp-for="Id" hidden></label>
                    <input asp-for="Id" hidden readonly />
                </div>

                <div class="form-group marg">
                    <label asp-for="ListId" hidden></label>
                    <input asp-for="ListId" hidden readonly />
                </div>

                <div class="form-group marg">
                    <label asp-for="Title" class="control-label">Title:</label>
                    <input class="marg" asp-for="Title" class="form-control" />
                    <div class="text-center">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group marg">
                    <label asp-for="Description" class="control-label">Description:</label>
                    <input class="marg" asp-for="Description" class="form-control" />
                    <div class="text-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <partial name="_StatusRadioButtons" model="@Model" />

                <div class="form-group marg">
                    <label asp-for="DueDate" class="control-label">Due date:</label>
                    <input class="marg" asp-for="DueDate" class="form-control" />
                    <div class="text-center">
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="big-marg-top marg">
                    <button type="submit"
                            class="btn btn-sm btn-primary border-grey">
                        Update
                    </button>

                    <a asp-controller="Todos" asp-action="Info" asp-route-todoId="@Model.Id"
                       method="get" class="btn btn-sm float-right btn-secondary border-grey">
                        Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>