@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to the "TodoApp"!</h2>
    <h4 class="marg border-grey shadow padd">
        There you can create and edit your daily tasks as easily as long-term ones.<br />
        You can divide your tasks into tasks lists.<br />
        That will allow you to quickly and easily find the necessary task.<br />
    </h4>
</div>